{
  "default-registry": null,
  "registries": [
    {
      "kind": "git",
      "repository": "https://github.com/Microsoft/vcpkg",
      "baseline": "42bb0d9e8d4cf33485afb9ee2229150f79f61a1f",
      "packages": ["*"]
    },
    {
      "kind": "git",
      "baseline": "b65cb76e1cd4734b70acda17b3002a3d9899c23e",
      "repository": "https://github.com/i8degrees/vcpkg-ports",
      "packages": [
        "librocket",
        "nomlib"
      ]
    }
  ]
}
